@import "/src/styles/color";
.blog-suggestion {
  display: flex;
  align-items: center;
  gap: 15px;
  img {
    max-width: 50px;
    border-radius: 5px;
    cursor: pointer;
    object-fit: cover;
    aspect-ratio: 1/1;
  }
  &__data {
    &-name {
      font-weight: bold;
      cursor: pointer;
    }
  }
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  &__follow {
    font-weight: bold;
    color: $tumblr-blue;
    &:hover {
      text-decoration: underline solid;
    }
  }
  &__dismiss {
    color: #a6a6a6;
    svg {
      width: 15px;
      height: 15px;
    }
    &:hover {
      color: white;
    }
  }
}
