@import "/src/styles/color";
.dash__container {
  // min-height: 100vh;
  padding-inline: 10%;
  height: 100%;

  display: flex;

  main {
    width: 55%;
    padding: 20px;
    border-inline: 1px solid #222222;
    max-height: 100vh;
    overflow-y: auto;
    .main__posts {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    /* width */
    &::-webkit-scrollbar {
      width: 7px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #404040;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $tumblr-blue;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}

